AUTODL_HOST=autodl-lensing

AUTODL_PROJECT_ROOT=/root/autodl-tmp/lensing-4
AUTODL_REPO_ROOT=/root/autodl-tmp/lensing-4/repo
AUTODL_DATA_V2_ROOT=/root/autodl-tmp/lensing-4/data_v2
AUTODL_GWOSC_CACHE=/root/autodl-tmp/lensing-4/gwosc_cache
AUTODL_RUNS_ROOT=/root/autodl-tmp/lensing-4/runs
AUTODL_MANIFEST_ROOT=/root/autodl-tmp/lensing-4/manifests

AUTODL_LEGACY_CANDIDATE_1=/root/autodl-tmp/wjx_project/classcify-gw-lensing-pairs-main
AUTODL_LEGACY_CANDIDATE_2=/root/autodl-tmp/qkzhang
